.g-main-feature .image-block a {

  &:hover,
  &:focus {
    display: block;
    position: relative;

    .lightbox {
      background: rgba(0, 0, 0, .5);
      bottom: 0;
      color: #fff;
      left: 0;
      margin-bottom: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: ease-out;
      z-index: 100;

      &:before {
        background: #8bc53f;
        border-radius: 50%;
        color: #fff;
        content: "\f002";
        font-family: FontAwesome;
        font-size: 25px;
        font-weight: 100;
        line-height: 1;
        margin-left: 50%;
        padding: 20px;
        position: absolute;
        text-align: center;
        top: 40%;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: ease-out;
      }
    }
  }
}




