@font-face {
  font-family: 'BreeSerif-Regular';
  src: url('../fonts/BreeSerif-Regular.eot');
  src: url('../fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BreeSerif-Regular.woff') format('woff'),
  url('../fonts/BreeSerif-Regular.ttf') format('truetype'),
  url('../fonts/BreeSerif-Regular.otf') format('opentype'),
  url('../fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('../fonts/FjallaOne-Regular.eot');
  src: url('../fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FjallaOne-Regular.woff') format('woff'),
  url('../fonts/FjallaOne-Regular.ttf') format('truetype'),
  url('../fonts/FjallaOne-Regular.otf') format('opentype'),
  url('../fonts/FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0009-FB02;
}

@font-face {
  font-family: 'PassionOne-Regular';
  src: url('../fonts/PassionOne-Regular.eot');
  src: url('../fonts/PassionOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PassionOne-Regular.woff') format('woff'),
  url('../fonts/PassionOne-Regular.ttf') format('truetype'),
  url('../fonts/PassionOne-Regular.otf') format('opentype'),
  url('../fonts/PassionOne-Regular.svg#PassionOne-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}

@font-face {
  font-family: 'PassionOne-Bold';
  src: url('../fonts/PassionOne-Bold.eot');
  src: url('../fonts/PassionOne-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PassionOne-Bold.woff') format('woff'),
  url('../fonts/PassionOne-Bold.ttf') format('truetype'),
  url('../fonts/PassionOne-Bold.otf') format('opentype'),
  url('../fonts/PassionOne-Bold.svg#PassionOne-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}

@font-face {
  font-family: 'PassionOne-Black';
  src: url('../fonts/PassionOne-Black.eot');
  src: url('../fonts/PassionOne-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PassionOne-Black.woff') format('woff'),
  url('../fonts/PassionOne-Black.ttf') format('truetype'),
  url('../fonts/PassionOne-Black.otf') format('opentype'),
  url('../fonts/PassionOne-Black.svg#PassionOne-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB04;
}

@font-face {
  font-family: 'Sanchez-Regular';
  src: url('../fonts/Sanchez-Regular.eot');
  src: url('../fonts/Sanchez-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Sanchez-Regular.woff') format('woff'),
  url('../fonts/Sanchez-Regular.ttf') format('truetype'),
  url('../fonts/Sanchez-Regular.otf') format('opentype'),
  url('../fonts/Sanchez-Regular.svg#Sanchez-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB02;
}
