/* edited by urmi */
.loaded {
  opacity: 1;
  transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out;
}

.hori {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hori1 {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hor2 {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* edited by urmi */

/*dev*/
.mor_btn {
  background: #8bc53f;
  border-radius: 45px;
  display: inline-block;
  margin-right: 11px;
  padding: 10px 19px;
}

.mor_btn:hover, .mor_btn:focus {
  background: #618532;
}

.mor_btn a {
  color: #fff;
  font-family: "Patua One";
  font-size: 16px;
}

.mor_btn a button {
  background: none;
  vertical-align: top;
}

.djslider-default .slider-container > ul > li:hover a:before {
  background: url(../images/search_icon.png?57dd16b9) no-repeat center;
  content: "";
  display: inline-block;
  height: 20px;
  height: 100%;
  position: absolute;
  width: 20px;
  width: 100%;
  z-index: 1;
}

.djslider-default .slider-container > ul > li:hover a:after {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
}

#pwebcontact205_text-0, #pwebcontact206_text-0 {
  border-bottom: none;
  border-left: 5px solid #8bc53f;
  color: #333 !important;
  font-family: 'Patua One';
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 5px 10px;
}

.modal-dialog .pwebcontact-form .pweb-field-container .pweb-field select {
  border: 1px solid;
  box-shadow: none;
  font-size: 24px;
  height: 43px;
  line-height: normal;
  padding: 0 3px 3px;
}

.area_block .right {
  height: 696px;
  position: absolute;
  top: auto;
  width: 100%;
}

.slider .bt-cs .next {
  left: 75px;
  transform: none;
}

@media only screen and (max-width: 1320px) {
  .area_block .right {
    height: 530px;
  }
}

@media only screen and (max-width: 1200px) {
  .area_block .right {
    height: 435px;
  }
}

@media only screen and (max-width: 767px) {
  .area_block .right {
    height: 248px;
    position: relative;
  }
  body.itemid-101 #g-fullwidth {
    padding-top: 122px;
  }
  .area_block.hori1 .detail_txt {
    padding-bottom: 22%;
  }
  .area_block.hori1 {
    background: url(../images/objectbgtab.jpg) no-repeat !important;
    background-attachment: fixed !important;
    background-position: 0 4px !important;
    background-size: 120% 151% !important;
  }
}

@media only screen and (max-width: 600px) {
  .area_block.hori2 .detail_txt {
    padding-bottom: 15%;
  }
  .area_block.hori1 .detail_txt {
    padding-bottom: 11%;
  }
  .mor_btn {
    background: #86b746;
  }
  .area_block.hori {
    background-size: 120% 78%;
  }
  .area_block.hori1 {
    background: url(../images/objectbgtab.jpg) no-repeat !important;
    background-attachment: fixed !important;
    background-position: 0 94px !important;
    background-size: 110% 110% !important;
  }

}

@media only screen and (max-width: 480px) {
  .area_block.hori2 .detail_txt {
    padding-bottom: 7%;
  }
  footer#g-footer {
    padding: 10px 0;
  }
  .area_block.hori {
    background-size: 200% 87%;
  }
  .area_block .right {
    height: 208px;
  }
  .mor_btn {
    padding: 6px;
    margin-right: 3px;
  }
  .mor_btn a {
    font-size: 14px;
  }

}

@media only screen and (max-width: 400px) {

}

/*!dev*/