{% extends '@nucleus/partials/particle.html.twig' %}

{% block stylesheets %}
	{% if particle.enabled %}
		{{ parent() }}
		<style type="text/css">
			@media (min-width: {{ gantry.config.get('styles.breakpoints.mobile-menu-breakpoint')|default('48rem') }}) {
				.g-offcanvas-toggle {
					display: none;
				}
			}
		</style>
	{% endif %}
{% endblock %}

{% block particle %}

	<div class="offcanvas-toggle-particle g-offcanvas-toggle" data-offcanvas-toggle="">
		<i class="{{ particle.icon|e }}"></i>
	</div>

{% endblock %}