$white: #fff;
$black: #000;
$primary-color: #333;
$secondary-color: #8bc53f;
$primary-menu-color: #787878;
$sub-menu-color: #618532;
$sub-menu-color-hover: #57772d;
$border-color: #c0c0c0;

$header-height: 86px;
$logo-width: 140px;
$logo-height: 64px;

$border: 1px solid $border-color;
$box-shadow: inset 0 -5px 0 0 $secondary-color;

$desktop-up :  1200px;

// EXTRA
$color_atlantis_approx: $secondary-color;
$color_olive_drab_approx: $sub-menu-color;
$color_mine_shaft_approx: $primary-color;

$color_outrageous_orange_approx: #fa6633;
$color_tia_maria_approx: #d24717;
$color_celeste_approx: #cccccc;
$color_suva_gray_approx: #888;
$color_gallery_approx: #eee;